<sly-card
  title="General settings"
  subtitle="define name and preview paths"
  :options="{collapsable: true}"
  :collapsed.sync="state.step < 1"
>
  <sly-field
    title="Application name"
    description="This name will be used to create folders structure and github repo (optional)"
  >
    <div class="fflex">
      <el-input
        placeholder="Please input name"
        v-model="state.name"
        :disabled="state.step !== 1"
        @change="post.throttled('/name-changed')"
      ></el-input>
      <el-button
        class="ml10"
        @click="post('/generate')"
        :disabled="state.step !== 1"
      >
        <i class="zmdi zmdi-rotate-left mr5"></i> Generate
      </el-button>
    </div>
  </sly-field>

  <sly-field
    title="Path on server"
    description="All project files including source code will be located at the following directory on the computer with current Agent"
  >
    <sly-copy-to-clipboard :data="data.localPath"></sly-copy-to-clipboard>
  </sly-field>

  <sly-field
    title="Path in team files"
    description="Files on your computer can be accessed in team files in the following location"
  >
    <sly-copy-to-clipboard :data="data.teamFilesPath"></sly-copy-to-clipboard>
  </sly-field>

  <el-button
    v-if="state.step == 1"
    type="primary"
    class="regular"
    @click="state.step = 2"
  >
    Next
  </el-button>
  <div v-else>
    <div>{{{done_label.to_html()}}}</div>

    <el-button
      type="warning"
      class="regular mt10"
      :plain="true"
      @click="state.{{{restart.widget_id}}}.step = 1"
    >
      <i class="zmdi zmdi-rotate-left mr5"></i>Change name
    </el-button>
  </div>
</sly-card>
