<sly-card
  title="Ready to use app template"
  subtitle="Select one of the prepared application templates, app will be automatically initialized with virtual environment and all vscode settings. Just press F5 and start development and debugging with a single click."
  :options="{collapsable: true}"
  :collapsed.sync="state.step < 2"
>
  <div class="mb10">{{{examples.to_html()}}}</div>
  <!-- <div>{{ state.{{{examples.widget_id}}} }}</div> -->

  <el-button
    v-if="state.step == 2"
    type="primary"
    class="regular"
    @click="state.step = 3"
  >
    Next
  </el-button>
  <div v-else>
    <div>{{{done2.to_html()}}}</div>

    <el-button
      type="warning"
      class="regular mt10"
      :plain="true"
      
    >
      <i class="zmdi zmdi-rotate-left mr5"></i>Change template
    </el-button>
  </div>
</sly-card>
</sly-card>
