<link href="/static/styles.css" rel="stylesheet" />
<sly-card title="General settings" subtitle="define name and preview paths">
  <sly-field
    title="Application name"
    description="This name will be used to create folders structure and github repo (optional)"
  >
    <div class="fflex">
      <el-input
        placeholder="Please input name"
        v-model="state.name"
        @change="post('/name-changed')"
      ></el-input>
      <el-button class="ml10" @click="post('/generate')">
        <i class="zmdi zmdi-rotate-left mr5"></i> Generate
      </el-button>
    </div>
  </sly-field>

  <sly-field
    title="Path on server"
    description="All project files including source code will be located at the following directory on the computer with current Agent"
  >
    <sly-copy-to-clipboard :data="data.localPath"></sly-copy-to-clipboard>
  </sly-field>

  <sly-field
    title="Path in team files"
    description="This name will be used to create folders structure and github repo (optional)"
  >
    <sly-copy-to-clipboard :data="data.teamFilesPath"></sly-copy-to-clipboard>
  </sly-field>

  <!-- <el-button type="primary" @click="post('/generate')">
    Get name (post response)
  </el-button> -->
</sly-card>
